{% extends 'layout.html' %}

{% block content %}
<h2>Tacos</h2>
    {% if tacos.count() %}
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Protein</th>
              <th>Cheese?</th>
              <th>Shell</th>
              <th>Extras</th>
            </tr>
          </thead>
          <tbody>
        {% for taco in tacos %}
            <tr>
              <td>{{ taco.protein }}</td>
              <td>{% if taco.cheese %}Yes{% else %}No{% endif %}</td>
              <td>{{ taco.shell }}</td>
              <td>{{ taco.extras }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>Sorry, no tacos yet!</p>
    {% endif %}
{% if current_user.is_authenticated %}
    <a href="{{ url_for('taco') }}">add a new taco</a>
    <a href="{{ url_for('logout') }}">log out</a>
{% else %}
    <a href="{{ url_for('register') }}">sign up</a>
    <a href="{{ url_for('login') }}">log in</a>
{% endif %}
{% endblock %}
