<!doctype html>
{% load static %}
{% load course_extras %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/layout.css' %}">
        {% block static %}{% endblock %}
    </head>
    <body>
        <div class="site-container">
            <div>{% nav_courses_list %}</div>
            <nav>
                <a href="{% url 'hello_world' %}">Home</a>
                <a href="{% url 'courses:list' %}">Courses</a>
            </nav>
            {% newest_course as nc %}
            <p>Check out our latest course: <a href="{% url 'courses:detail' pk=nc.pk %}">{{ nc }}</a></p>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>